{% extends "wedding/blocks/base.html" %}
{% load static %}

{% block title %}
Weekend Events
{% endblock %}

{% block content %}
<div id="events" class="container-fluid page-container">
  <h1 class="page-header text-center">Weekend Events</h1>

  <!-- Row with wedding map and venue info -->
  <div class="row">

    {% if invite_to_rehearsal %}
    <!-- Rehearsal Dinner -->
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">
        {{ rehearsal.date|date:"l, n/d" }}
        <br>
        <small class="text-muted">Rehearsal Dinner</small>
      </h2>
      <p>
        We'll be gathering at {{ rehearsal.date|date:"g:i A"}} at:
        <br><br>
        <b>{{ rehearsal.location.name }}</b>
        <br>
        {{ rehearsal.location.address }}
        <br>{{ rehearsal.location.city }}, {{ rehearsal.location.state }} {{ rehearsal.location.zip }}
        <br>
        <a href={{ rehearsal.location.maps_link }}>Map Link</a>
        <br><br>
        {{ rehearsal.additional_info|safe }}
      </p>
    </div>
    {% endif %}

    <!-- Wedding Ceremony -->
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">
        {{ ceremony.date|date:"l, n/d" }}
        <br>
        <small class="text-muted">Wedding Ceremony</small>
      </h2>
      <p>
        We'll be gathering at {{ ceremony.date|date:"g:i A"}} at:
        <br><br>
        <b>{{ ceremony.location.name }}</b>
        <br>
        {{ ceremony.location.address }}
        <br>{{ ceremony.location.city }}, {{ ceremony.location.state }} {{ ceremony.location.zip }}
        <br>
        <a href={{ ceremony.location.maps_link }}>Map Link</a>
        <br><br>
        {{ ceremony.additional_info|safe }}
      </p>
    </div>

    <!-- Wedding Reception -->
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">
        {{ reception.date|date:"l, n/d" }}
        <br>
        <small class="text-muted">Wedding Reception</small>
      </h2>
      <p>
        We'll be gathering at {{ reception.date|date:"g:i A"}} at:
        <br><br>
        <b>{{ reception.location.name }}</b>
        <br>
        {{ reception.location.address }}
        <br>{{ reception.location.city }}, {{ reception.location.state }} {{ reception.location.zip }}
        <br>
        <a href={{ reception.location.maps_link }}>Map Link</a>
        <br><br>
        {{ reception.additional_info|safe }}
      </p>
    </div>
 
    <!-- Other Events -->
    {% for event in other_events %}
    <div class="col-sm-4 text-justify">
      <h2 class="text-center">
        {{ event.1.date|date:"l, n/d" }}
        <br>
        <small class="text-muted">{{event.0}}</small>
      </h2>
      <p>
        {% if event.1.include_meet_time %}
        We'll be gathering at {{ event.1.date|date:"g:i A"}} at:
        {% endif %}
        <br><br>
        <b>{{ event.1.location.name }}</b>
        <br>
        {{ event.1.location.address }}
        <br>{{ event.1.location.city }}, {{ event.1.location.state }} {{ event.1.location.zip }}
        <br>
        <a href={{ event.1.location.maps_link }}>Map Link</a>
        <br><br>
        {{ event.1.additional_info|safe }}
      </p>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
